<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'newsfeed.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="searchContent">
    <input type="text" class="searchText" placeholder="Search Bar"/><i class="fa fa-search searchIcon"></i>
</div>
 {% if user.is_authenticated %}
            <a href="{% url 'user_info:home' %}">뒤로 가기</a>
            {% endif %}
<div class="feedBox">
    <div class="feedContent">
        <img class="feedImage"
             src="https://ww.namu.la/s/50ec79e07868dd8be7c62f3ca97267517b4f7b8d43b05470c645b336541fdd3593e3a3469a82a8c904f050382ff3c8551606ac7de623941d726582f74a03670a410e212fd9b5e2c25c3e554b96aca714fee665dd03b0171fa3b09a2a44d99bc9f8881f7ca05f4a69229b1094489c2d87">
        <h2 class="feedTitle">아버지 잠깐 쉬게 해드리고싶네요.</h2>
        <h2 class="feedStory">아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...</h2>
        <div class="feedBtnContent">
            <button class="btn">더 알아보기</button>
            <button class="btn">후원하기</button>
        </div>
    </div>
    <div class="feedContent">
        <img class="feedImage"
             src="https://ww.namu.la/s/50ec79e07868dd8be7c62f3ca97267517b4f7b8d43b05470c645b336541fdd3593e3a3469a82a8c904f050382ff3c8551606ac7de623941d726582f74a03670a410e212fd9b5e2c25c3e554b96aca714fee665dd03b0171fa3b09a2a44d99bc9f8881f7ca05f4a69229b1094489c2d87">
        <h2 class="feedTitle">아버지 잠깐 쉬게 해드리고싶네요.</h2>
        <h2 class="feedStory">아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...</h2>
        <div class="feedBtnContent">
            <button class="btn">더 알아보기</button>
            <button class="btn">후원하기</button>
        </div>
    </div>

    <div class="feedContent">
        <img class="feedImage"
             src="https://ww.namu.la/s/50ec79e07868dd8be7c62f3ca97267517b4f7b8d43b05470c645b336541fdd3593e3a3469a82a8c904f050382ff3c8551606ac7de623941d726582f74a03670a410e212fd9b5e2c25c3e554b96aca714fee665dd03b0171fa3b09a2a44d99bc9f8881f7ca05f4a69229b1094489c2d87">
        <h2 class="feedTitle">아버지 잠깐 쉬게 해드리고싶네요.</h2>
        <h2 class="feedStory">아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...</h2>
        <div class="feedBtnContent">
            <button class="btn">더 알아보기</button>
            <button class="btn">후원하기</button>
        </div>
    </div>

    <div class="feedContent">
        <img class="feedImage"
             src="https://ww.namu.la/s/50ec79e07868dd8be7c62f3ca97267517b4f7b8d43b05470c645b336541fdd3593e3a3469a82a8c904f050382ff3c8551606ac7de623941d726582f74a03670a410e212fd9b5e2c25c3e554b96aca714fee665dd03b0171fa3b09a2a44d99bc9f8881f7ca05f4a69229b1094489c2d87">
        <h2 class="feedTitle">아버지 잠깐 쉬게 해드리고싶네요.</h2>
        <h2 class="feedStory">아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...아버지는 짜장면이 싫다고 하셨어요...</h2>
        <div class="feedBtnContent">
            <button class="btn">더 알아보기</button>
            <button class="btn">후원하기</button>
        </div>
    </div>
</div>
<div class="footerContent">
    <ul>
        <li>
            <i class="fa fa-home"></i>
        </li>
        <li>
            <i class="fa fa-search"></i>
        </li>
        <li>
            <i class="fa fa-shopping-basket"></i>
        </li>
        <li>
            <i class="fa fa-user"></i>
        </li>
    </ul>
</div>
</body>
</html>