<!doctype html>
{% load static %}
<html lang="kor">
<head>
    <script>
    function newPage()  {
        {% if not user.is_authenticated %}
            alert("로그인 후 이용할 수 있습니다.") 
            window.location.href = "{% url 'user_info:login_view' %}"            
        {% else %}
            window.location.href = "{% url 'list:list_view' %}"
        {% endif %}
    }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>후원을 다이렉트로, 후원트</title>
</head>
<script>
    window.setTimeout(function() {
        $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
</script>
<body>
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
<div class="header1">
    <ul>
        <li><a href="{% url 'user_info:home' %}" class="logo">WHO<span>WANT</span></a></li>
        <li><a href="{% url 'list:helpWrite' %}" class="navItem">후원받기</a></li>
        <li><a href="{% url 'market:market_view' %}" class="navItem">재능마켓</a></li>
        <li><a href="{% url 'inquiry:CS' %}" class="navItem">문의하기</a></li>
        <li><a href="{% url 'inquiry:FAQ' %}" class="navItem">FAQ</a></li>
        <li><a href="{% url 'user_info:mypage' %}" class="navItem">마이페이지</a></li>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'user_info:login_view' %} " class="navItem">Login</a></li>
        {% else %}
            <li><a href="{% url 'user_info:logout_view' %}" class="navItem">Logout</a></li>
        {% endif %}
    </ul>
</div>
<div class="banner">
    <img src="{% static 'img/banner.png' %}" alt="">
    <div class="content">
        <h2>나의 소중한 후원을<br>수수료 없이 다이렉트로, 후원트</h2>
        <h3>지금 후원트와 함께 행복을 나눠보세요.</h3>
        <button type="button" class="startBtn" onclick='newPage()' >지금 시작하기</button>
    </div>
</div>
<div class="intro">
    <div class="contentBox">
        <img src="{% static 'img/donate.svg' %}">
        <div class="textBox">
            <h2>직접 후원이 가능한<br>새로운 플랫폼</h2>
            <h3>내가 원하는 사람에게 직접 후원, 수수료 걱정 없이 바로 후원</h3>
        </div>
    </div>
    <div class="contentBox">
        <div class="textBox">
            <h2>확실한 후원금 관리</h2>
            <h3>나의 기부금이 어디에 쓰였는지 확인 가능</h3>
        </div>
        <img src="{% static 'img/chart.svg' %}">
    </div>
    <div class="contentBox">
        <img src="{% static 'img/share.svg' %}">
        <div class="textBox">
            <h2>후원이 부담스럽다면<br>재능 마켓</h2>
            <h3>내가 가진 재능을 도움이 필요한 사람들에게 나눠보세요</h3>
        </div>
    </div>
    <div class="contentBox">
        <div class="textBox">
            <h2>충전을 이용한 후원<br>시스템</h2>
            <h3>금액을 내마음대로 충전하여 원하는 사람에게 후원을 하세요</h3>
        </div>
        <img src="{% static 'img/money.svg' %}">
    </div>
</div>
<div class="footer">
    <ul>
        <li><a href="#" class="logo">WHO<span>WANT</span></a></li>
        <li><a href="#" class="navItem">기업소개</a></li>
        <li><a href="#" class="navItem">이용약관</a></li>
        <li><a href="#" class="navItem">개인정보 처리방침</a></li>
        <li><a href="#" class="navItem">고객센터</a></li>
    </ul>
    <span class="line"></span>
    <h2>(주)후원트 (대표이사:후대표) | 대구광역시 수성구 범어천로20 두산위브더제니스 4202호 | 통신판매번호 : 00-00-00-00
        유료직업소개사업등록번호 : (국내) 제000-00000-00000 | (국외) 000-0000-0000 | 사업자등록번호 : 0000-0000-0000
        © WhoWantLab, Inc.</h2>
</div>

</body>