<!DOCTYPE html>
{% load static %}
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Login Form</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
        {{ message.message }}
    {% endfor %}
    {% endif %}
<div class="LOGOBox">
    <div class="LOGO">Who<span>Want</span></div>
</div>
<div class="Box">
    <form method="POST" action="{% url 'user_info:login_view' %}">
        {% csrf_token %}
    <table class="Login-form">
        <tr class="Login-table-content">
            <td class="Login-table-text">
                <span><b>이메일</b></span>
            </td>
            <td class="Login-table-input">
                <input placeholder="email@naver.com" type="email" name="userid">
            </td>
        </tr>
        <tr class="Login-table-content">
            <td class="Login-table-text">
                <span><b>비밀번호</b></span>
            </td>
            <td class="Login-table-input">
                <input placeholder="●●●●●●●" type="Password" name="userpw">
            </td>
        </tr>
    </table>
    <button type="submit" class="btn" >로그인</button>
    </form>
    <table class="new-login" border="1" bordercolor="black" frame="void" rules="cols">
        <tr>
            <td>
                <a href="{% url 'user_info:signup' %}">회원가입</a>
            </td>
            <td>
                <a href="#">아이디찾기</a>
            </td>
            <td>
                <a href="#">비밀번호찾기</a>
            </td>
        </tr>
    </table>
    <table class="site-img" align="center" style="padding-top: 40px; ">
        <tr>
            <td>
                <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/770139154898382848/ndFg-IDH_400x400.jpg"
                         class="google">
                </a>
            </td>
            <td>
                <a href="#">
                    <img src="https://w.namu.la/s/059f8bf3e629d3f2e343fe3f3f10809022d58800962db675d233429660bf98d9ceccd60e23b1324d090c87485833b10c2c4503c93a230003ba67d5fcafa52793725e7202a2e7c4344283d8e7013f4fc77ba02179d32f4fd77403449ddd9de70e"
                         class="kakao">
                </a>
            </td>
            <td>
                <a href="#">
                    <img src="https://play-lh.googleusercontent.com/Kbu0747Cx3rpzHcSbtM1zDriGFG74zVbtkPmVnOKpmLCS59l7IuKD5M3MKbaq_nEaZM=s360-rw"
                         class="google">
                </a>
            </td>
        </tr>
    </table>

</div>

</body>
</html>