<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'findID.css' %}">
    <link rel="stylesheet" href="../../static/findID.css">
    <title>Document</title>
</head>
<body>
<div class="LOGOBox">
    <div class="LOGO"><a style="text-decoration: none;" href="{% url 'user_info:home' %}">Who<span>Want</span></a>
    </div>
</div>

<div class="Box">
    {% csrf_token %}
    <table class="Login-form">
        <h3>비밀번호 변경</h3>
        <tr class="Login-table-content">
            <td class="Login-table-text">
                <span><b>{{ form_pw.email.label }}</b></span>
            </td>
            <td class="Login-table-input">
                {{ form_pw.email }}
            </td>
        </tr>
        <tr class="Login-table-content">
            <td class="Login-table-text">
                <span><b>{{ form_pw.email.label }}</b></span>
            </td>
            <td class="Login-table-input">
                {{ form_pw.email }}
            </td>
        </tr>
    </table>
    <button id="changePw" type="submit" class="btn">변경하기</button>
</div>
</body>
</html>