<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'findID.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="LOGOBox">
        <div class="LOGO"><a style="text-decoration: none;" href="{% url 'user_info:home' %}">Who<span>Want</span></a>
        </div>
    </div>
    <form action="" method="POST">
        <div class="Box">
            {% csrf_token %}
            <table class="Login-form">
                <h3>비밀번호 변경</h3>
                <tr class="Login-table-content">
                    <td class="Login-table-text">
                        <span><b>{{ form.new_password1.label }}</b></span>
                    </td>
                    <td class="Login-table-input">
                        {{ form.new_password1 }}
                    </td>
                    <script type="text/javascript">
                        if (document.getElementsByName('new_password1')[0].value != '') {
                            document.getElementsByName('label_new_password1')[0].setAttribute('class',
                                'active');
                        }
                    </script>
                    {% if form.new_password1.errors %}
                    <script type="text/javascript">
                        document.getElementsByName('new_password1')[0].setAttribute('class',
                            'form-control is-invalid')
                    </script>
                    {% for error in form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </tr>
                <tr class="Login-table-content">
                    <td class="Login-table-text">
                        <span><b>비밀번호 확인</b></span>
                    </td>
                    <td class="Login-table-input">
                        {{ form.new_password2 }}
                    </td>
                    <script type="text/javascript">
                        if (document.getElementsByName('new_password2')[0].value != '') {
                            document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                'active');
                        }
                    </script>
                    {% if form.new_password2.errors %}
                    <script type="text/javascript">
                        document.getElementsByName('new_password2')[0].setAttribute('class',
                            'form-control is-invalid')
                    </script>
                    {% for error in form.new_password2.errors %}
                    <div style="white-space: nowrap;" class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <small style="margin-left: 4px; margin-top:8px;" class="form-text text-muted">
                        최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                    </small>
                </tr>
            </table>
            <button id="changePw" type="submit" class="btn">변경하기</button>
        </div>

    </form>
</body>

</html>