<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'findID.css' %}">
    <title>Document</title>
</head>
<body>

<div class="LOGOBox">
    <div class="LOGO"><a style="text-decoration: none;" href="{% url 'user_info:home' %}">Who<span>Want</span></a></div>
</div>

<div class="Box">
    {% csrf_token %}
    <table class="Login-form">
        <h3>비밀번호 찾기!</h3>
        <tr class="Login-table-content">
            <td class="Login-table-text">
                <span><b>{{ form_pw.email.label }}</b></span>
            </td>
            <td class="Login-table-input">
                {{ form_pw.email }}
            </td>
        </tr>
        <small class="form-text text-muted">
            등록하신 메일로 인증번호가 발송됩니다.
        </small>
    </table>
    <button id="find_pw" type="submit" class="btn">발송!</button>
</div>
<div class="authBox">
    <input class="authInput" type="text" placeholder="인증번호 입력">
    <button type="button" class="authBtn">인증번호 확인</button>
</div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $('.btn').click(function () {
        alert('메일로 인증번호를 발송했습니다');
        $('.authBox').css('display', 'flex');
    });

    $('.authBtn').click(function () {
        $.ajax({
            type: "POST",
            url: "auth/",
            dataType: "json",
            data: {
                'email': $('#pw_form_email').val(),
                'input_auth_num': $('.authInput').val(),
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            success: function (response) {
                window.location.href = "{% url 'user_info:recovery_pw_reset' %}";
            },
            error: function () {
                if ($('#input_auth_num').val() == "") {
                    alert('회원님의 이메일로 전송된 인증번호를 입력해주세요.');
                } else {
                    alert('인증번호가 일치하지 않습니다.');
                }
            },
        });
    })

</script>
</html>