<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-12">
        {% csrf_token %}
        <!--이메일-->
        <div class="mb-4 md-form">
            <label name="label_phone" for="{{ form_phone.phone.id_for_label }}"><i
                    class="fas fa-envelope"></i>&nbsp;&nbsp;{{ form_phone.label }}</label>
                휴대폰 번호 : {{ form_id.phone }}
            <small class="form-text text-muted">
                등록하신 번호와 일치하는 메일을 찾습니다.
            </small>
        </div>

        <!-- <br><button type="submit" class="btn btn-dark" name="recovery_id">아이디찾기</button> -->
        <div style="padding-top:10px;" class="row justify-content-md-center">
            <button id="find_id" class="btn btn-red" style="opacity: 90%; font-size: 16px;" name="recovery_id"><i class="fas fa-search"></i>&nbsp;&nbsp;아이디찾기</button><br><br>
        </div>
        <br>
        <div id="result_id"></div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#find_id').click(function () {
                var phone = $("#form_phone").val();

                $.ajax({
                    type: "POST",
                    url: "find/",
                    dataType: "json",
                    data: {
                        'phone': phone,
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                    },
                    success: function (response) {
                        $('#result_id').replaceWith(
                            '<div id="result_id"><hr><div style="text-align:center;"><span style="font-size: 16px;">입력된 정보로 가입된 아이디는 </span><span style="font-size: 20px; font-weight: bold;" id="result_id">' + response.result_id +
                            '</span><span style="font-size: 16px;"> 입니다.</span></div><hr></div>')
                    },
                    error: function () {
                        if (phone == "") {
                            alert('휴대폰 번호를 입력해주세요.');
                        } else {
                            alert('입력하신 정보가 일치하지 않거나 존재하지 않습니다.');
                        }
                    },
                });
            })
        });
    </script>
    <!-- No AJAX
    {% if result_id %}
    <h5>회원님의 아이디는 <strong>{{ result_id }}</strong>입니다.</h5>
    {% endif %} -->
</body>
</html>
                
                            

                        