<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'SignUp.css' %}">
    <title>Login Form</title>
</head>
<body>
    <div class="Box">
        <div class="title">
            <span class="title1">회원가입</span><br>
            <span class="title2">아래의 정보를 입력해주세요</span>
        </div>
        <table class="Login-form">
            <tr>
                <td class="Login-table-text">
                    <span><b>이름</b></span>
                </td>
                <td class="Login-table-input">
                    <input placeholder="홍길동" type="text">
                </td>
            </tr>
            <tr>
                <td class="Login-table-text">
                    <span><b>아이디</b></span>
                </td>
                <td class="Login-table-input">
                    <input placeholder="email@naver.com" type="text">
                </td>
            </tr>
            <tr>
                <td class="Login-table-text">
                    <span><b>비밀번호</b></span>
                </td>
                <td class="Login-table-input">
                    <input placeholder="8자리 이상" type="password">
                </td>
            </tr>
            <tr>
                <td class="Login-table-text">
                    <span><b>비밀번호확인</b></span>
                </td>
                <td class="Login-table-input">
                    <input placeholder="8자리 이상" type="password">
                </td>
            </tr>
            <tr>
                <td class="Login-table-text">
                    <span><b>연락처</b></span>
                </td>
                <td class="Login-table-input">
                    <input placeholder="010-0000-0000" type="text">
                </td>
            </tr>
        </table>
        <div class="help-btn">
            <button>도움을 원해요</button>
            <button>도움을 줄래요</button>
            <div class="file-upload">
                <input type='file' accept='image/jpg,image/png,image/jpeg,image/gif' id='profile_img_upload'/>
                <label for='profile_img_upload'><i class="far fa-file-image"/>&nbsp;파일 선택</label>
            </div>
        </div>


        <div class="agree">
            <input type="checkbox">
            <span>개인정보 수집 및 이용에 동의합니다.</span>
        </div>
        <button type="button" class="btn" >가입완료</button>



    </div>

</body>
</html>