<!doctype html>
{% load static %}
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'sponserpage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <title>후원을 다이렉트로, 후원트</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="{% url 'user_info:home' %}" class="logo">WHO<span>WANT</span></a></li>
            <li><a href="{% url 'list:helpWrite' %}" class="navItem">후원받기</a></li>
            <li><a href="{% url 'market:market_view' %}" class="navItem">재능마켓</a></li>
            <li><a href="{% url 'inquiry:CS' %}" class="navItem">문의하기</a></li>
            <li><a href="{% url 'inquiry:FAQ' %}" class="navItem">FAQ</a></li>
            <li><a href="{% url 'user_info:mypage' %}" class="navItem">마이페이지</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'user_info:login_view' %} " class="navItem">Login</a></li>
            {% else %}
                <li><a href="{% url 'user_info:logout_view' %}" class="navItem">Logout</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="profile_box" align=middle>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <p class="email">{{request.user.email}}</p>

        <div class="inner_box1">
         
            <table class="table_1" >
                <tr>
                    <th colspan="2">
                        <i class="fa fa-credit-card-alt credit" aria-hidden="true"></i>
                        <p>&nbsp;&nbsp;후원 내역</p>
                    </th>
                </tr>
                <tr>
                    <td scope="col" class="first_text">
                    </td>
                </tr>
            </table>
    
            <div id="contents">
                <div class="bx_tb1">
                        <table>
                        {% for who in whos %}
                        <tr>
                            <td id="spon-date">
                            {% if who.created_string == False %}
                            {{who.created|date:'m월 d일'}}
                            {% else %}
                            {{who.created_string}}
                            {% endif %}</h3>
                            </td>
                            <td id="spon-nickname">
                                {{ who.whogivemoney }}
                            </td>
                            <td id="spon-money">
                                {{ who.givemoney }}원
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
           
                </div>
            </div>
        </div>


        <div class="inner_box3">
            <p class="donate-title">작성게시글</p>
            <div class="main">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">도와주세요</label>
        
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">보여주세요</label>
                <section id="content1">
                {% for post in posts %}
                    <div class="image-card">
                        <img src="{{post.thumbnail.url}}">
                        <p class="title">{{post.title}}</p>
                        <p class="content">{{post.body}}</p>
                        <button type="button" onclick="location.href = '{% url 'list:feed_Detail' post.id%}'">자세히보기</button>
                    </div>
                {% endfor %}
                    <button type="button" class="write-btn" onclick="location.href = '{% url 'list:helpWrite'%}'">글작성하기</button>
                    <!-- 이전 페이지가 있을때만 보이도록 -->
    {% if posts.has_previous %} 
    <a href="?page=1">처음</a>
    <a href="?page={{posts.previous_page_number}}">이전</a>
    {% endif %}
<!-- 현재 몇번째 페이지인지 -->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
<!-- 다음 페이지가 있을때만 보이도록 -->
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">다음</a>
    <a href="?page={{posts.paginator.num_pages}}">마지막</a>
    {% endif %}
                </section>

                <section id="content2">
                {% for post in recent_posts %}
                    <div class="image-card">
                    {% if post.photo %}
                        <img src="{{post.photo.url}}">
                    {% endif %}
                        <p class="title">{{post.title}}</p>
                        <p class="content">{{post.body}}</p>
                        <button type="button" onclick="location.href = '{% url 'user_info:recentDetail' post.id %}'">자세히보기</button>
                    </div>
                {% endfor %}
                    <button type="button" class="write-btn" onclick="location.href = '{% url 'user_info:recentWrite'%}'">글작성하기</button>
                    <!-- 이전 페이지가 있을때만 보이도록 -->
                    <br>
    {% if recent_posts.has_previous %} 
    <a href="?page=1">처음</a>
    <a href="?page={{recent_posts.previous_page_number}}">이전</a>
    {% endif %}
<!-- 현재 몇번째 페이지인지 -->
    <span>{{recent_posts.number}}</span>
    <span>of</span>
    <span>{{recent_posts.paginator.num_pages}}</span>
<!-- 다음 페이지가 있을때만 보이도록 -->
    {% if recent_posts.has_next %}
    <a href="?page={{recent_posts.next_page_number}}">다음</a>
    <a href="?page={{recent_posts.paginator.num_pages}}">마지막</a>
    {% endif %}
                </section>
            </div>
        </div>
    </div>
</body>