<!doctype html>
{% load static %}
<html lang="kor">
<head>
    <script>
        function newPage()  {
            window.location.href = "{% url 'inquiry:CS' %}"
          }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'FAQ.css' %}">
    <title>FAQ</title>
</head>

<body>
    <div class="header">
        <ul>
            <li><a href="{% url 'user_info:home' %}" class="logo">WHO<span>WANT</span></a></li>
            <li><a href="{% url 'list:helpWrite' %}" class="navItem">후원받기</a></li>
            <li><a href="{% url 'market:market_view' %}" class="navItem">재능마켓</a></li>
            <li><a href="{% url 'inquiry:CS' %}" class="navItem">문의하기</a></li>
            <li><a href="{% url 'inquiry:FAQ' %}" class="navItem">FAQ</a></li>
            <li><a href="{% url 'user_info:mypage' %}" class="navItem">마이페이지</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'user_info:login_view' %} " class="navItem">Login</a></li>
            {% else %}
                <li><a href="{% url 'user_info:logout_view' %}" class="navItem">Logout</a></li>
            {% endif %}
        </ul>
    </div>
<h2>자주묻는 질문</h2>
<div class="accordionFrequent">
    <div class="contentBx">
        <div class="label">Bucket 조회가 되지 않습니다.</div>
        <div class="content">
            <p>URL Encoding을 하지 않은 Key를 이용하여 Object를 업로드 할 경우 발생합니다. javascript sdk를 통해서 해당 Object에 접근하실 수 있습니다.
                첨부의 예제 파일은 Prefix로 지정한 Object를 조회하고, Key값에 대한 URL Encoding 적용한 후 다시 업로드하여 문제가 되는 Object를 삭제하는 코드입니다.
                예제 파일을 환경에 맞게 설정하시고 실행하시길 바랍니다.
                재발 방지를 위해 추후 Object 업로드 시 Key값에 대한 URL Encoding을 반드시 해 주시기 바랍니다.</p>
        </div>
        <span class="line"></span>
    </div>
    <div class="contentBx">
        <div class="label">Chart 옵션중 기간선택이 의미하는건 뭐나요?</div>
        <div class="content">
            <p>1m 은 1분동안 데이터를 aggregation 한것을 의미합니다. Traffic Max / 1m 을 설정하였다면, 1분동안 수집된 데이터 최대 bps 를 표시하게 됩니다.</p>
        </div>
        <span class="line"></span>
    </div>
    <div class="contentBx">
        <div class="label">트래픽 정보는 실시간으로 수집되나요?</div>
        <div class="content">
            <p>현재 최대 5분가량 지연되어 수집될 수 있습니다.</p>
        </div>
        <span class="line"></span>
    </div>
    <div class="contentBx">
        <div class="label">최대 언제까지 Network Traffic 데이터를 볼 수 있나요?</div>
        <div class="content">
            <p>최대 32일까지 조회 할 수 있습니다. </p>
        </div>
        <span class="line"></span>
    </div>
</div>
{% if user.is_authenticated %}
    <h2>1:1 문의 내역</h2>
    <div class="accordionFrequent">
        {% for post in post1 %}   
        <div class="contentBx">
            <div class="label">{{post.body}}</div>
            <div class="content">
                <p>작성일 기준 남은 잔액은 1만5천원입니다.</p>
            </div>
            <span class="line"></span>
        </div>
        {% endfor %}
    </div>
{% endif %}
<input type="submit" value="1:1 문의하기" class="askBtn"  onclick='newPage()'>


<script>
    const accordion = document.getElementsByClassName('contentBx');
    for (i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener('click', function () {
            this.classList.toggle('active')
        })
    }


</script>

</body>
</html>