@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #f6f9f6;
}

.header {
    width: 70vw;
    height: 50px;
    margin-bottom: 20px;
}

.header ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 800;
}

.header ul li a span {
    color: #f14a60;
}

.header .navItem {
    font-size: 1em;
    font-weight: 700;
}

.contentBox {
    width: 70vw;
    min-height: 100vh;
    margin-bottom: 50px;
}

.contentBox .makeDonate {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: white;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 4px 4px -4px black;
    margin-bottom: 15px;
}

.contentBox .makeDonate i {
    font-size: 50px;
    color: #f14a60;
    margin: 0 20px 0 0;
}

.contentBox .makeDonate .verticalTextBox {
    display: flex;
    flex-direction: column;
}

.contentBox .makeDonate .verticalTextBox h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 5px;
}

.contentBox .makeDonate .verticalTextBox h3 {
    font-size: 0.8em;
    font-weight: 400;
}

.contentBox .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 4px -4px black;
    margin-bottom: 20px;
}

.contentBox .content .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.contentBox .content .title i {
    font-size: 50px;
    color: #f14a60;
    margin: 0 20px 0 0;
}

.contentBox .content .titleTextBox {
    display: flex;
    flex-direction: column;
}

.contentBox .content .titleTextBox .userName {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 5px;
}

.contentBox .content .titleTextBox .time {
    font-size: .8em;
    font-weight: 400;
}

.contentBox .content .contents {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
}

.contentBox .content .imgBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.contentBox .content img {
    width: 80%;
    border-radius: 15px;
}

.contentBox .content .btnBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contentBox .content .btnBox button {
    height: 50px;
    background: white;
    border-radius: 15px;
    border: none;
    color: #f14a60;
    font-size: 1.3em;
    font-weight: 800;
}

.pager {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pager .pagerBox {
    width: 40%;
    display: flex;
    justify-content: center;
}

.pager .pagerBox a, .pager .pagerBox span {
    margin: 10px;
}

.pager .pagerBox a {
    text-decoration: none;
}

.pager .pagerBox {
    color: black;
    font-size: 1em;
    font-weight: 700;
}

.pager .pagerBox a {
    color: #f14a60;
    font-size: 1em;
    font-weight: 700;
}

.footer {
    width: 70vw;
    height: 100px;
}

.footer .line {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 20px 0 20px 0;
}

.footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer .logo {
    font-size: 1em;
    font-weight: 400;
}

.footer ul li a span {
    color: #f14a60;
}

.footer .navItem {
    font-size: 1em;
    font-weight: 400;
}

.footer h2 {
    color: #cccccc;
    font-size: 0.8em;
    font-width: 400;
}
