@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.header {
    width: 70vw;
    height: 50px;
}

.header ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 800;
}

.header ul li a span {
    color: #f14a60;
}

.header .navItem {
    font-size: 1em;
    font-weight: 700;
}

.inputArea h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
}

.inputArea p{
    margin-bottom: 27px;
    font-size: 14px;
}

.inputArea {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputArea .text-box{
  width: 70vw;
  border-collapse: collapse;
}

.inputArea .text-box .first{
  width: 15%;
  background-color: #f1f0f0;
}

.inputArea .text-box .first p{
  margin-left: 30px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 18px;
}

.inputArea form {
    width: 100%;
}

.inputArea .text-box .top td{
  border-top: 2.5px solid black;
}

.inputArea .text-box .bottom{
  border-bottom: 2.5px solid black;
}

.inputArea .text-box td{
  border-bottom: 2px solid rgb(228, 228, 228);
}

.inputArea .text-box .content{
  height: 440px;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 1em;
    font-weight: 700;
}

textarea::placeholder {
    font-size: 1em;
    font-weight: 700;
}

.title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    height: 35px;
    width: 500px;
    border: 2px solid rgb(236, 236, 236);
    margin-left: 10px;
}

.attach{
  margin-left: 12px;
}

.formText {
    width: 900px;
    height: 400px;
    font-size: 16px;
    font-weight: 300;
    border: 2px solid rgb(236, 236, 236);
    margin-left: 12px;
}

.button-box{
  margin-top: 50px;
  width: 330px;
  height: 50px;
  align-items: center;
  text-align: center;
  margin-left: 37%;
}

.button-box td{
  border: none;
}

.diarySubmit {
    width: 150px;
    height: 50px;
    border-radius: 3px;
    background-color: #f14a60;
    color: white;
    font-size: 20px;
    border: none;
}

.diaryReturn{
    width: 150px;
    height: 50px;
    border-radius: 3px;
    background-color: white;
    color: #f14a60;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #f14a60;
}