@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.header {
    width: 70vw;
    height: 50px;
}

.header ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 800;
}

.header ul li a span {
    color: #f14a60;
}

.header .navItem {
    font-size: 1em;
    font-weight: 700;
}

.profile_box{
    width: 100%;
    height: 180px;
    background-color: #ffd0d6;
}

.profile_box .profile{
    height: 70px;
    border-radius: 50%;
    margin-top: 15px;
}


.profile_box .nickname{
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.profile_box .email{
    font-size: 15px;
    color: white;
}

.inner_box1{
    width: 71%;
    height: 250px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 35px rgb(214, 214, 214);
    float: left;
    margin-left: 14.5%;
    margin-right: 1%;
}

.table_1 p{
    font-size: 16px;
    font-weight: bold;
}
.table_1{
    margin-top: 5px;
    padding-top: 20px;
}

.inner_box1 img{
    width: 60px;
    height: auto;
}

.inner_box1 .first_img{
    width: 100px;
    text-align: center;
}

.inner_box1 .first_text{
    width: 100px;
}

#contents{
    width: 85%;
    height: 120px;
    position: relative;
    overflow: auto;
}

#contents table{
    height: 100px;
    font-size: 14px;
    table-layout: fixed; 
    border-spacing: 0;
}

.bx_tb1{
    zoom: 1;
}

#spon-date{
    width: 150px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

#spon-nickname{
    width: 300px;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid gainsboro;
}

#spon-money{
    width: 200px;
    text-align: right;
    border-bottom: 1px solid gainsboro;
}

.inner_box3{
    width: 71%;
    min-height: 340px;
    height: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 35px rgb(214, 214, 214);
    float: left;
    margin-left: 14.5%;
    margin-right: 1%;
}


.donate-title{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.donate-table{
    align-items: center;
}

.image-card{
    width: 250px;
    height: 200px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
}

.image-card img{
    width: 250px;
    height: 110px;
    border-radius: 5px;
}

.image-card .title{
    font-size: 14px;
    margin: 5px;
    font-weight: 600;
    align-items: center;
}
.image-card .content{
    font-size: 10px;
    margin: 5px;
}

.image-card button{
    width: 100px;
    height: 25px;
    background-color: #f14a60;
    border: none;
    color: white;
    font-size: 12px;
}

.image-card button:hover{
    width: 100px;
    height: 25px;
    background-color: #f0a1ac;
    border: none;
    color: white;
    font-size: 12px;
}


/* 도와주세요 보여주세요 */

.main{
    width: 85%;
    background: #ffffff;
    padding-top: 15px;
}

.main label{
    display: inline-block;
    padding: 4px 19.7%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.main label:hover{
    color: #f14a60;
    cursor: pointer;
}

.main section{
    display: none;
    border-top:1px solid #ddd;
}

.main input{
    display: none;
}

.main input:checked + label{
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #f14a60;
    border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
    display: block;
}

.write-btn{
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #cccccc;
    border: none;
    color: white;
    font-size: 12px;
}
.profile_box i {
    margin: 10px 0 10px 0 !important;
}

.profile_box i::before {
    color: #f14a60;
    font-size: 50px;
}

.credit::before{
    font-size: 20px !important;
}
