@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: #f6f9f6;
}

.header {
    width: 70vw;
    height: 50px;
}

.header ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.header .logo {
    font-size: 1.5em;
    font-weight: 800;
}

.header ul li a span {
    color: #f14a60;
}

.header .navItem {
    font-size: 1em;
    font-weight: 700;
}

.profileAndDonate{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userProfile {
    width: 34vw;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px -4px black;
    margin-bottom: 30px;
}

.userProfile .topBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.userProfile .topBox .hidden{
    opacity: 0;
}

i::before {
    color: #f14a60;
}

.userProfile h3 {
    font-size: 1.2em;
    font-weight: 800;
}

.userProfile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.horizontalBox {
    width: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7px;
}

.horizontalBox h2 {
    font-size: 1em;
    font-weight: 700;
}

.historyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 200px;
}

.historyBox::-webkit-scrollbar {
    display: none;
}

.line {
    width: 60%;
    height: 2px;
    background: #ccc;
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
}

.donateHistory {
    width: 34vw;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 4px 4px -4px black;
    margin-bottom: 30px;
}

.titleBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.titleBox h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.userProfile i:before {
    font-size: 100px
}

.titleBox i:before {
    margin: 0 10px 0 0;
    font-size: 1.5em;
}

.titleText {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-end;
}

.titleText h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 4px;
}

.titleText h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: #f14a60;
}

.writeList {
    width: 70vw;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 4px 4px -4px black;
    margin-bottom: 30px;
}

.writeList h2 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide, .swiper-slide-active{
    width: 200px !important;
    height: 200px!important;
    border: solid 1px #cccccc;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    margin-bottom: 15px;
}

.swiper-slide h3 {
    height: 0;
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper-slide button {
    width: 60%;
    height: 25px;
    border-radius: 7px;
    background: #f14a60;
    color: white;
    font-size: 1em;
    font-weight: 400;
    border: none;
    margin-bottom: 10px;
}

.hTitleBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hTitleBox h2{
    font-size: 1.2em;
    font-weight: 700;
}

.writeBtn{
    width: 75px;
    height: 25px;
    border-radius: 7px;
    background: #f14a60;
    color: white;
    border: none;
    font-weight: 700;
}

.footer {
    width: 70vw;
    height: 100px;
    margin-top: 50px;
}

.footer .line {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 20px 0 20px 0;
}

.footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer .logo {
    font-size: 1em;
    font-weight: 400;
}

.footer ul li a span {
    color: #f14a60;
}

.footer .navItem {
    font-size: 1em;
    font-weight: 400;
}

.footer h2 {
    color: #cccccc;
    font-size: 0.8em;
    font-width: 400;
}