<!doctype html>
{% load static %}
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'market.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>후원을 다이렉트로, 후원트</title>
</head>
<body>
<div class="header">
    <ul>
        <li><a href="{% url 'user_info:home' %}" class="logo">WHO<span>WANT</span></a></li>
        <li><a href="{% url 'list:helpWrite' %}" class="navItem">후원받기</a></li>
        <li><a href="{% url 'market:market_view' %}" class="navItem">재능마켓</a></li>
        <li><a href="{% url 'inquiry:CS' %}" class="navItem">문의하기</a></li>
        <li><a href="{% url 'inquiry:FAQ' %}" class="navItem">FAQ</a></li>
        <li><a href="{% url 'user_info:mypage' %}" class="navItem">마이페이지</a></li>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'user_info:login_view' %} " class="navItem">Login</a></li>
        {% else %}
            <li><a href="{% url 'user_info:logout_view' %}" class="navItem">Logout</a></li>
        {% endif %}
    </ul>
</div>

<div class="contentBox">
    <div class="makeDonate">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <div class="verticalTextBox">
            <h2>도움을 주고싶나요?</h2>
            <h3>내가 가진 재능을 다른사람에게 공유해 주세요!</h3>
        </div>
    </div>
    {% for post in posts %}
        <div class="content">
            <div class="title">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <div class="titleTextBox">
                    <h2 class="userName">{{ post.writer }}</h2>
                    <h3 class="time">
                        {% if post.created_string == False %}
                            {{ post.created|date:'m월 d일' }}
                        {% else %}
                            {{ post.created_string }}
                        {% endif %}
                    </h3>
                </div>
            </div>
            <h2 class="contents">{{ post.body }}</h2>
            {% if post.thumbnail %}
                <div class="imgBox">
                    <img class="contentImg" src="{{ post.thumbnail.url }}">
                </div>
            {% endif %}
            <div class="btnBox">
                <button type="button" onclick="location.href='{% url 'market:market_Detail' post.id %}'">더 알아보기 >>
                </button>
            </div>
        </div>
    {% endfor %}
    <div class="pager">
        <div class="pagerBox">
            <!-- 이전 페이지가 있을때만 보이도록 -->
            {% if posts.has_previous %}
                <a href="?page=1">처음</a>
                <a href="?page={{ posts.previous_page_number }}">이전</a>
            {% endif %}
            <!-- 현재 몇번째 페이지인지 -->
            <span>{{ posts.number }}</span>
            <span>of</span>
            <span>{{ posts.paginator.num_pages }}</span>
            <!-- 다음 페이지가 있을때만 보이도록 -->
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">다음</a>
                <a href="?page={{ posts.paginator.num_pages }}">마지막</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="footer">
    <ul>
        <li><a href="#" class="logo">WHO<span>WANT</span></a></li>
        <li><a href="#" class="navItem">기업소개</a></li>
        <li><a href="#" class="navItem">이용약관</a></li>
        <li><a href="#" class="navItem">개인정보 처리방침</a></li>
        <li><a href="#" class="navItem">고객센터</a></li>
    </ul>
    <span class="line"></span>
    <h2>(주)후원트 (대표이사:후대표) | 대구광역시 수성구 범어천로20 두산위브더제니스 4202호 | 통신판매번호 : 00-00-00-00
        유료직업소개사업등록번호 : (국내) 제000-00000-00000 | (국외) 000-0000-0000 | 사업자등록번호 : 0000-0000-0000
        © WhoWantLab, Inc.</h2>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(".makeDonate").click(function () {
        $(location).attr("href", "http://127.0.0.1:8000/market/marketWrite/");
    });
</script>
</body>
</html>